.Site{
    border: thin solid;
    border-radius: 8px;
    padding: 5px 2rem;
    min-height: 10em;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 20em;
}

.Site>h3, .Site>p, .Site>div>p{
    margin: 0;
    padding: 0;
}